<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">About Jungle</h1>
        <p class="lead text-muted mb-0">This is Jungle project.</p>
        <h6 class="small text-uppercase text-muted">Ydan</h6>
      </div>
    </div>
  </div>
</div>

<div class="bg-light py-5">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-5">
      </div>
    </div>
    <div class="row text-center">
      <div class="bg-white rounded shadow-sm py-5 px-4">
        <h2 class="mb-0">YDan</h2>
        <ul class="social mb-0 list-inline mt-3">
          <li class="list-inline-item"><a href="https://github.com/yhupaul" class="social-link"><i class="fa fa-github"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div> 